.react-datepicker {
  display: block;
  border: 0;
  border-radius: 0;
}

.react-datepicker__day--highlighted {
  background-color: white;
  color: #000;
  &:hover {
    color: #000;
    background-color: #f0f0f0;
  }
}
.react-datepicker__day--selected {
  border-color: #fc1055;
  background: #fc1055;
  color: #fff !important;
  &:hover {
    border-color: #fc1055;
    background: #fc1055;
    color: #fff !important;
    border-radius: 50%;
  }
}
.react-datepicker__day {
  border-radius: 50%;
  width: 34px;
  height: 34px;
  margin: 0;
  border: 1px solid #fff;
  font-size: 1rem;
  line-height: 32px;
  box-sizing: border-box;
}
.react-datepicker__day:first-child {
  color: #dd6045;
}
.react-datepicker__day:last-child {
  color: #3d85b9;
}
.react-datepicker__day--today {
  background: #666666;
  &:hover {
    border-color: #666666;
    border-radius: 50%;
    color: #fff;
    background-color: #666666;
  }
}
.react-datepicker__day--disabled {
  color: #ccc !important;
}

.react-datepicker__header {
  background-color: #fff;
  border: none;
  padding: 0;
}
.react-datepicker__day-name:first-child {
  color: #dd6045;
}
.react-datepicker__day-name:last-child {
  color: #3d85b9;
}

.date-customheader {
  display: flex;
  justify-content: space-between;
  margin: 0 5px;
  padding-bottom: 10px;
  text-align: center;

  button {
    width: 24px;
    height: 24px;
    background-color: #fff;
    border: none;
    padding: 0;
    margin: auto;

    svg {
      width: 100%;
      height: 100%;
    }
  }
}
.custom-month {
  font-size: 1.4rem;
  margin: auto;
}
.react-datepicker__week {
  display: flex;
  justify-content: space-between;
}

.react-datepicker__day-names {
  display: flex;
  margin: 12px 0 7px;
  justify-content: space-between;
}

.react-datepicker__day-name {
  width: 34px;
  font-size: 1rem;
  line-height: 16px;
  margin: 0;
}
.react-datepicker__month {
  width: 298px;
  margin: 0;
}